@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Sigmar&display=swap');
@font-face{
    font-family: Bohemia Soul;
    src:url("../fonts/Bohemia Soul.otf")
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header,nav,footer{
     background-color: #9f9fda;
    color: #cde0f0;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;  
    font-family: "Sigmar", sans-serif;
    letter-spacing: 2px;
}
main{ 
    background-color: #6b6bac; 
    padding: 60px; 
    height: auto; 
    width: 1280px; 
    margin-left:auto; 
    margin-right: auto; 
} 
nav{
    background-color: lightblue;
    text-align: center;
}
<!--nav ul li{
    list-style-type: none;
    display: inline-block;
    background-color: #3a5a40;
    width: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    min-width: 100px;
    /*margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;*/
    margin: 5px;
    font-family: "Kanit", sans-serif;
}-->
 nav ul li{ 
    width: auto; 
    background-color: #7b7bb2; 
    list-style-type: none; 
    display:inline-block; 
    padding:15px; 
    text-align:center; 
    margin-right: auto; 
    margin-left: auto; 
    border-radius: 30px;
    min-width: 100px;
} 
nav ul li:hover{ 
    background-color: aquamarine; 
    padding: 30px;
    width: 13%;
} 
main nav{ 
     margin-left: -30px; 
 } 
nav a:link, nav a:visited{ 
    color: #be95c4; 
    text-decoration: none; 
    font-weight: bold; 
 } 
section{
    background-color: #8c8cbc;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    overflow: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family:"Lora", serif;
    text-align: justify;
}
h2{
    margin-bottom: 30px;
    padding: 20px;
    color: #e9edc9;
    font-family: Bohemia Soul;
}
h1{
    text-align: center;
    font-size: 48px;
    color: #21e4e4;
}
p{
    color: #F2D5C4;
}
p{
    padding: 20px;
    margin-top: 30px;
}
footer{
    text-align: center;
    height: 20px;
    background-color: #9f9fda;
    color: #cde0f0;
    font-size: 58px;
    padding: 80px;
    
}
footer a{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
 }

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-spacing: 10px;
}
#tabla_1{
    background-color: #8ecae6;
    border: 3px solid red;
    border-spacing: 10px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
#tabla_1 th{
    font-size: 20px;
    background-color: #219ebc;
    color: #003049;
}
#tabla_1 th, #tabla_1 td{
    border: 3px solid #04151f;
    padding: 10px;
}
#tabla_2{
  
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    border-collapse: collapse;
    
}
#tabla_2 th{
    background-color: #cdb4db;
   
}
#tabla_2td, #tabla_2 th{
    padding: 10px;
    border-width: 5px;
    border-color: #ffc8dd;
    border-style: solid;
}
#tabla_2 tbody tr:nth-child(even){
    background-color:#ffafcc;
}
#tabla_3{
    width: 70%;
    background-color: #d0f4de;
    color: #a3b18a;
}
#tabla_3 th{
    background-color: #fefae0;
    color: #a3b18a;
}
#tabla_3 td, #tabla_3 th{
    border-width: 2px;
    border-color: #264653;
    border-style: solid;
    padding: 20px;
}
#tabla_3 tr:hover{
    background-color: #e9edc9;
    color: #d4a373;
}
main{
    margin-left: auto;
    margin-right: auto;
}
img{
  width: 100%;
    margin-top: 30px;
}
#img_gif{
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.img_flotante{
    width: 50%;
    float: left;
    margin-top: 1px;
    margin-right: 20px;
}
.alineacion{
    float: right;
    width: 50%;
    margin-left: 20px;
}
#fondo_box{
    background-image: url(../imagenes/FLOR_AZ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:#003049;
}
#enlace_img{
   margin-left: 40%;
    width: 10%;
    margin-bottom: 20px;
    
}
.img_filtro{
    text-align: center;
}
.img_filtro p, img_filtro h2{
    text-align: justify;
}
.img_filtro img{
    width: 20%;
    margin: 20px;
}
.redondeado{
    border-radius: 60%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
}
 .yo{
                width: 40%;
                float: right;
                margin-left: 10px;
                margin-top: 0;
                margin-bottom: 20px;
                min-width: 200px;
     border-radius: 20%;
            }
.icono{
                width: 25px;
                
            }
 #pp{
                 width: 50px;
                padding: 10px;
                margin-right: 50%;
                margin-left: 50%;
            
            }
form{
    width: 60%;
    background-color:chocolate;
    height: auto;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
label{
    color: antiquewhite;
    font-weight: bold;
    font-size: 15px;
    
}
input, textarea, select{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #b2cc98;
    color: blue;
    font-weight: bold;
    font-size: 10px;
    
}
input[type=submit]{
    width: 20%;
    padding: 10px;
    background-color: #bd445c;
    font-weight: bold;
    color: aqua;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: block;
margin-top: 30px;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select:focus{
    background-color: bisque;
    color: darkcyan;
}
textarea{
    padding: 20px;
}
input[type=radio], input[type=checkbox]{
    width: 10%;
  